/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.logo {
  text-decoration: none;
}
nav a {
  text-decoration: none;
  margin-left: 62px;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.container {
  width: 95%;
  margin: 0 auto;
  font-size: 1.9rem;
}
header {
  border-bottom: 1px dotted black;
  margin: 30px 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.imagebox {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/african-marketplace-home.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease-out;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
}
.imagebox:hover {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
}
.btn-parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sign-up-btn {
  display: block;
  background-color: purple;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  align-self: center;
  margin-top: 20%;
  color: white;
}
h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: auto;
}
