// Mixins 
.centered() {
    display: flex;
    justify-content: center;
}

.centeredResponsive() {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
}

//colors
@main-color: #DC3900;